{%- if site.search_enabled != false %}
<script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vendor/lunr.multi.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vendor/lunr.stemmer.support.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/vendor/lunr.ko.min.js' | relative_url }}"></script>
{%- endif %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
   <symbol id="svg-sun" viewBox="0 0 24 24">
      <title>Light mode</title>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
         stroke-linecap="round" stroke-linejoin="round" class="feather-sun">
         <circle cx="12" cy="12" r="5"></circle>
         <line x1="12" y1="1" x2="12" y2="3"></line>
         <line x1="12" y1="21" x2="12" y2="23"></line>
         <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
         <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
         <line x1="1" y1="12" x2="3" y2="12"></line>
         <line x1="21" y1="12" x2="23" y2="12"></line>
         <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
         <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
      </svg>
   </symbol>
   <symbol id="svg-moon" viewBox="0 0 24 24">
      <title>Dark mode</title>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
         stroke-linecap="round" stroke-linejoin="round" class="icon-tabler-moon">
         <path stroke="none" d="M0 0h24v24H0z" fill="none" />
         <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
      </svg>
   </symbol>
</svg>

<script>
   const theme = localStorage.getItem('theme') || 'light';
   document.documentElement.setAttribute('data-theme', theme);
</script>
<script>
   if (localStorage.getItem('theme') === 'dark') document.documentElement.classList.add('dark-mode');
</script>
<script type="text/javascript" src="{{ '/assets/js/theme-switch.js' | relative_url }}"></script>
<link rel="stylesheet" href="{{ '/assets/css/just-the-docs-switchable.css' | relative_url }}">

<style>
   @media (min-width: 50rem) {

      .nav-list .nav-list-item .nav-list-link,
      html.dark-mode .nav-list .nav-list-item .nav-list-link {
         padding-left: 0;
      }
   }

   @media (min-width: 66.5rem) {

      .site-nav,
      html.dark-mode .site-nav,
      .site-header,
      html.dark-mode .site-header,
      .site-footer,
      html.dark-mode .site-footer {
         width: 20.5rem;
      }
   }
</style>

<style>
   /* ::-webkit-scrollbar {
      width: 6px;
      background: transparent;
   }

   ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
   }

   html.dark-mode ::-webkit-scrollbar-thumb {
      background: #888;
   }

   * {
      scrollbar-width: thin;
      scrollbar-color: #888 transparent;
   } */

   html {
      scrollbar-width: thin;
      scrollbar-color: #cecece transparent;
   }

   html.dark-mode {
      scrollbar-width: thin;
      scrollbar-color: #4a4a4a transparent;
   }
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
   rel="stylesheet">

<style>
   /* .ibm-plex sans kr-regular {
      font-family: "IBM Plex Sans KR", sans-serif;
      font-weight: 400;
      font-style: normal;
   } */

   body,
   html.dark-mode body {
      font-family: "IBM Plex Sans KR", sans-serif, system-ui;
   }

   .main-content h1,
   .main-content h2,
   .main-content h3,
   .main-content h4,
   .main-content h5,
   .main-content h6,
   .main-content #toctitle {
      font-weight: 600;
   }

   .main-content h1,
   html.dark-mode h1 {
      font-weight: 600;
   }

   .main-content,
   html.dark-mode .main-content {
      line-height: 1.8;
   }

   p,
   .main-content ul {
      font-size: 1.12em;
   }

   code,
   html.dark-mode code {
      font-size: 1em;
      line-height: 1.8;
      letter-spacing: 0.03em;
   }

   h2,
   .text-beta,
   #toctitle,
   html.dark-mode h2,
   html.dark-mode .text-beta,
   html.dark-mode #toctitle {
      font-size: 28px !important;
   }

   h3,
   .text-gamma,
   html.dark-mode h3,
   html.dark-mode .text-gamma {
      font-size: 22px !important;
   }

   @media (min-width: 31.25rem) {

      h2,
      .text-beta,
      #toctitle,
      html.dark-mode h2,
      html.dark-mode .text-beta,
      html.dark-mode #toctitle {
         font-size: 28px !important;
         line-height: 1.25;
      }

      h3,
      .text-gamma,
      html.dark-mode h3,
      html.dark-mode .text-gamma {
         font-size: 22px !important;
      }
   }
</style>